<mat-grid-list cols="12" rowHeight="150px" gutterSize="5px">
    <mat-grid-tile [colspan]="12" class="align-top">
      <mat-card class="card">
        <mat-card-header class="justify-content-center">
          <mat-card-title class="text-center">Patient Information Links</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-information/basic-information">Basic Information</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-information/physical-address">Physical Address</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-information/mailing-address">Mailing Address</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-information/contact">Contact</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-information/emergency-contact">Emergency Contact</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-information/emergency-contact-information">Emergency
            Contact Information</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="12" rowHeight="150px" gutterSize="5px">
    <mat-grid-tile [colspan]="12" class="align-top">
      <mat-card class="card">
        <mat-card-header class="justify-content-center">
          <mat-card-title class="text-center">Account Links</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <a mat-raised-button color="primary" target="_blank" routerLink="/account/referral">Referral</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/account/reason-for-visit">Reason for Visit</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/account/account-manager">Account Manager Question</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/account/account-manager-information">Contact</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/account/employer">Employer</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/account/payment-preferences">Payment Preferences</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/account/terms-and-conditions">Terms &amp; Conditions</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="12" rowHeight="110px" gutterSize="5px">
    <mat-grid-tile [colspan]="12" class="align-top">
      <mat-card class="card">
        <mat-card-header class="justify-content-center">
          <mat-card-title class="text-center">Medical History Links</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-histories/medical/basic">Basic Information</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-histories/medical/allergies-and-conditions">Allergies
            &amp; Conditions</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-histories/medical/safety-protocol">Safety Protocol</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="12" rowHeight="150px" gutterSize="5px">
    <mat-grid-tile [colspan]="12" class="align-top">
      <mat-card class="card">
        <mat-card-header class="justify-content-center">
          <mat-card-title class="text-center">Dental History Links</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-histories/dental/dentist">Dentist</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-histories/dental/dentist-information">Dentist
            Information</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-histories/dental/care">Care</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-histories/dental/previous-treatment">Previous
            Treatment</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-histories/dental/xray">X-Ray</a>
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-histories/dental/treatment-disposition">Treatment
            Disposition</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="12" rowHeight="110px" gutterSize="5px">
    <mat-grid-tile [colspan]="12" class="align-top">
      <mat-card class="card">
        <mat-card-header class="justify-content-center">
          <mat-card-title class="text-center">Histories Confirmation Link</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <a mat-raised-button color="primary" target="_blank" routerLink="/patient-histories/confirmation">Histories Confirmation</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>