<!-- Former Dentist Contact Information -->
<mat-grid-list cols="12" rowHeight="300px" gutterSize="5px">
  <mat-grid-tile [colspan]="12">
    <mat-card class="card">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="text-center">Former Dentist's Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form name="former-dentist-information" class="form" autocomplete="off" [formGroup]="frmStepEighteen">
          <p>
            <mat-form-field class="w-100">
              <input matInput maxlength="95" placeholder="Address" required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput maxlength="95" placeholder="Address 2">
            </mat-form-field>
          </p>
          <table class="w-100" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput maxlength="35" placeholder="City" required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="State" [formControl]="stateControl" required>
                    <mat-option *ngFor="let state of states" [value]="state">
                      {{state.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="stateControl.hasError('required')">Please select a state</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <input matInput maxlength="5" placeholder="ZIP Code" mask="00000" required>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button matStepperPrevious type="button">Back</button>
        <button mat-raised-button matStepperNext type="button">Next</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!-- Former Dentist Contact Information End -->