<!-- Visit -->
<mat-grid-list cols="12" rowHeight="150px" gutterSize="5px">
  <mat-grid-tile [colspan]="12">
    <mat-card class="card">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="text-center">Purpose of Visit</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form name="visit" class="form" autocomplete="off">
          <mat-form-field class="w-100">
            <input matInput maxlength="255" placeholder="What can we help you with?">
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!-- Visit End-->
