<!-- Review Terms and Conditions -->
<mat-grid-list cols="12" rowHeight="200px" gutterSize="5px">
  <mat-grid-tile [colspan]="12">
    <mat-card class="card">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="text-center">Terms &amp; Conditions</mat-card-title>
      </mat-card-header>
      <mat-card-actions class="py-0">
        <button mat-raised-button color="accent" (click)="openDialog()" class="w-100"
          matTooltip="Review Terms &amp; Conditions"
          aria-label="Button that displays terms and conditions dialog">Review Terms &amp; Conditions</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!-- Review Terms and Conditions End -->
