<!-- Former Dentist -->
<mat-grid-list cols="12" rowHeight="400px" gutterSize="5px">
  <mat-grid-tile [colspan]="12">
    <mat-card class="card">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="text-center">Former Dentist</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- TODO: Rename formGroup -->
        <form name="former-dentist" class="form" autocomplete="off" [formGroup]="frmStepSeventeen">
          <mat-form-field class="w-100">
            <input matInput maxlength="50" placeholder="Former Dentist's First Name">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput maxlength="50" placeholder="Former Dentist's Last Name">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button matStepperPrevious type="button">Back</button>
        <button mat-raised-button matStepperNext type="button">Next</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!-- Former Dentist End -->