<!-- Account Manager Information -->
<mat-grid-list cols="12" rowHeight="650px" gutterSize="5px">
  <mat-grid-tile [colspan]="12">
    <mat-card class="card">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="text-center">Account Manager Information</mat-card-title>
        <mat-card-subtitle class="text-center">This information is necessary for our files and is confidential.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form name="account-manager-information" class="form" autocomplete="off" [formGroup]="frmStepEleven">
          <mat-form-field class="w-100">
            <input matInput maxlength="50" [formControl]="firstNameManagerControl" placeholder="First Name" required>
            <mat-error *ngIf="firstNameManagerControl.hasError('required')">
              A first name is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput maxlength="50" [formControl]="lastNameManagerControl" placeholder="Last Name" required>
            <mat-error *ngIf="lastNameManagerControl.hasError('required')">
              A last name is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="accountManagerDobPicker" placeholder="Date of Birth" mask="00/00/0000"
              required>
            <mat-datepicker-toggle matSuffix [for]="accountManagerDobPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #accountManagerDobPicker startView="year"></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="w-100">
            <!-- TODO: Allow mask input like a password. See the following article https://codeburst.io/a-simple-show-and-hide-password-directive-with-angular-fae7a6bd136 -->
            <input type='text' matInput placeholder="Social Security Number" mask="000-00-0000" required>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput maxlength="50" placeholder="Employer">
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput maxlength="95" placeholder="Employer Address" required>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput maxlength="95" placeholder="Employer Address 2">
          </mat-form-field>

          <table class="w-100" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput maxlength="35" placeholder="Employer City" required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Employer State" [formControl]="stateControl" required>
                    <mat-option *ngFor="let state of states" [value]="state">
                      {{state.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="stateControl.hasError('required')">Please select a state</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <input matInput maxlength="5" placeholder="Employer ZIP Code" mask="00000" required>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <mat-form-field class="w-100">
            <span matPrefix>+1 &nbsp;</span>
            <input matInput placeholder="Employer Phone Number" mask="(000) 000-0000">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button matStepperPrevious type="button">Back</button>
          <button mat-raised-button matStepperNext type="button">Next</button>
        </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!-- Account Manager Information End -->
