<!-- Personally Identifiable Information -->
<mat-grid-list cols="12" rowHeight="400px" gutterSize="5px">
  <mat-grid-tile [colspan]="12">
    <mat-card class="card">
      <div class="d-flex justify-content-center"><mat-icon style="color: green; align-self: center">checkmark</mat-icon></div>
      <mat-card-header class="justify-content-center">
        
        <mat-card-title class="text-center">Patient Intake Form Completed</mat-card-title>
        <mat-card-subtitle class="text-center">You're all set! Please return the iPad to the front desk.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!-- Personally Identifiable Information End -->