<!-- Referral -->
<mat-grid-list cols="12" rowHeight="175px" gutterSize="5px">
  <mat-grid-tile [colspan]="12">
    <mat-card class="card">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="text-center">Referral</mat-card-title>
        <mat-card-subtitle class="text-center">We'd love to know how you found out about us.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form name="referral" class="form" autocomplete="off">
          <label class="d-block mb-2">Select how you heard about us from the options below.</label>
          <mat-radio-group class="mb-5" [(ngModel)]="referral" name="referral">
            <mat-radio-button *ngFor="let referral of referrals" [value]="referral">
              {{referral}}
            </mat-radio-button>
          </mat-radio-group>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!-- Referral End-->
