<!-- Allergies and Conditions-->
<mat-grid-list cols="12" rowHeight="550px" gutterSize="5px">
  <mat-grid-tile [colspan]="12">
    <mat-card class="card">
      <mat-card-header class="justify-content-center">
        <mat-card-title class="text-center">Allergies &amp; Other Conditions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form name="allergies-and-conditions" class="form" autocomplete="off" [formGroup]="frmStepFifteen">
          <label class="d-block mb-2 mt-5">Are you sensitve or allergic to any of the following:</label>
          <mat-radio-group class="mb-5" [(ngModel)]="drugAllergen" name="drugAllergen">
            <mat-radio-button *ngFor="let drugAllergen of drugAllergens" [value]="drugAllergen">
              {{drugAllergen}}
            </mat-radio-button>
          </mat-radio-group>
          <label class="d-block mb-2 mt-5">Are you sensitve or allergic to any of the following:</label>
          <mat-radio-group class="mb-5" [(ngModel)]="materialAllergen" name="materialAllergen">
            <mat-radio-button *ngFor="let materialAllergen of materialAllergens" [value]="materialAllergen">
              {{materialAllergen}}
            </mat-radio-button>
          </mat-radio-group>
          <label class="d-block mb-2 mt-5">Do you have, or have your had, any of the following:</label>
          <section>
            <table class="w-100" cellspacing="0">
              <tr>
                <td>
                  <mat-checkbox [(ngModel)]="heartAilment" name="heartAilment">Heart Ailment</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="highBloodPressure" name="highBloodPressure">High Blood Pressure</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="diabetes" name="diabetes">Diabetes</mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox [(ngModel)]="excessiveBleeding" name="excessiveBleeding">Excessive Bleeding</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="rheumaticFever" name="rheumaticFever">Rheumatic Fever</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="kidneyDisease" name="kidneyDisease">Kidney Disease</mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox [(ngModel)]="radiationTreatment" name="radiationTreatment">Turmors or Radiation
                    Treatment</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="allergies" name="allergies">Sinus Trouble or Allergies</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="asthma" name="asthma">Asthma or Hay Fever</mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox [(ngModel)]="seizures" name="seizures">Head Injuries or Seizures</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="ulcers" name="ulcers">Stomach Ulcers</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="epilepsy" name="epilepsy">Epilepsy</mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox [(ngModel)]="stroke" name="stroke">Stroke</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="glaucoma" name="glaucoma">Glaucoma</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="herpes" name="herpes">Canker Sores or Herpes</mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox [(ngModel)]="jointReplacement" name="jointReplacement">Joint Replacement</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="osteoporosis" name="osteoporosis">Osteoporosis or Bisphosphonates</mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="other" name="other">Other</mat-checkbox>
                </td>
              </tr>
            </table>
          </section>
          <mat-form-field class="w-100">
            <input matInput maxlength="50" placeholder="Other">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button matStepperPrevious type="button">Back</button>
        <button mat-raised-button matStepperNext type="button">Next</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!-- Allergies and Conditions End -->