<mat-grid-list cols="12" rowHeight="220px" gutterSize="5px">
  <mat-grid-tile [colspan]="12">
    <mat-card class="card">
      <mat-card-content>
        <form class="form">
          <mat-form-field class="w-100">
            <input matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput placeholder="Last Name">
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<!-- <mat-card-actions class="py-0">
  <button mat-raised-button disabled (click)="signInWithLocal()" class="w-100" matTooltip="Sign in with local authentication"
    aria-label="Button that displays a tooltip when focused or hovered over">Sign In</button>
</mat-card-actions> -->