$break-xs: 300px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

.disable-resize {
    resize: none;
}

.card, .form  {
    @media (min-width: $break-xs) {
        width: 280px;
    }
    @media (min-width: $break-sm) {
        width: 675px;
    }
}

$elements: 6;
@for $i from 1 to $elements {
    mat-radio-button:nth-child(#{$i + 1}) {
        margin-left: 25px;
    }
}