/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// rgb(147, 186, 139) pea-green
// rgba(0, 0, 0, 0.05) light-grey
// rgba(147, 186, 139, 0.15) light-pea-green

$break-xs: 300px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

h1, p {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Utility Classes
.py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.my-5 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.mt-0 {
    margin-top: 0px;
}

.mt-5 {
    margin-top: 25px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 25px;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-5 {
    margin-left: 5px;
}

.w-100 {
    width: 100%;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-flex-column {
    display: inline-flex;
    flex-direction: column;
}

.font-weight-bold {
    font-weight: bold;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.btn-white {
    background-color: white;
}

.text-black {
    color: black;
}

.mdi::before {
    margin-right: 10px;
}

// Used for vertical alignment on login component
.align-bottom > figure.mat-figure {
    align-items: flex-end !important;
}

// Used for vertical alignment on login component
.align-top > figure.mat-figure {
    align-items: flex-start !important;
}

.disable-resize {
    resize: none;
}

.card, .form  {
    @media (min-width: $break-xs) {
        width: 280px;
    }
    @media (min-width: $break-sm) {
        width: 675px;
    }
}

$elements: 6;
@for $i from 1 to $elements {
    mat-radio-button:nth-child(#{$i + 1}) {
        margin-left: 25px;
    }
}